//
// user.scss
// Use this to write your custom SCSS
//

.blog h1 {
  @extend .fw-bold;
}

.blog h2 {
  @extend .fw-bold;
}

.blog strong {
  color: $primary;
}

.footer-content {
  text-align: center;
  div:first-child {
    margin-bottom: 2em;
  }
  @include media-breakpoint-up(lg) {
    text-align: left;
    div:first-child {
      margin-bottom: 0;
    }
  }
}

.bg-black ul li {
  color: #ffffff;
}

.btn-primary-soft {
  background-color: rgba($primary, 0.1);
  color: $primary;
}

.btn-primary-soft:hover,
.btn-primary-soft:focus {
  background-color: rgba($primary, 0.15);
  color: $primary;
}

.info-link {
  color: $black;
}

a:link {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

a:active {
  text-decoration: none;
}
