//
// user.scss
// Use this to write your custom SCSS
//

.blog h1 {
  @extend .fw-bold;
}

.blog h2 {
  @extend .fw-bold;
}

.blog strong {
  color: $primary;
}

.footer-content {
  text-align: center;
  div:first-child {
    margin-bottom: 2em;
  }
  @include media-breakpoint-up(lg) {
    text-align: left;
    div:first-child {
      margin-bottom: 0;
    }
  }
}

.bg-black ul li {
  color: #ffffff;
}
